# ModKit Files
Engine
!Binaries/ThirdParty/OpenVR
!Source/ThirdParty/OpenVR

RoboRecall/*
!RoboRecall/Plugins

RoboRecall/Plugins/*
!RoboRecall/Plugins/RoboRevive

RoboRecall/Plugins/RoboRevive/Intermediate
RoboRecall/Plugins/RoboRevive/Build

# RoboRecall Mods
*.robo

# Installer file
RoboRevive.exe
