{
	"TargetName" : "RoboRecall",
	"Platform" : "Win64",
	"Configuration" : "Shipping",
	"BuildId" : "",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 16,
		"PatchVersion" : 0,
		"Changelist" : 3792635,
		"CompatibleChangelist" : 3313651,
		"IsLicenseeVersion" : 0,
		"IsPromotedBuild" : 1,
		"BranchName" : "++Odin+Release"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-RoboRevive-Win64-Shipping.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-RoboRevive-Win64-Shipping.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Intermediate/Build/Win64/RoboRecall/Shipping/RoboRecall-RoboRevive-Win64-Shipping.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-SteamVR-Win64-Shipping.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-SteamVR-Win64-Shipping.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Intermediate/Build/Win64/RoboRecall/Shipping/RoboRecall-SteamVR-Win64-Shipping.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-SteamVRController-Win64-Shipping.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-SteamVRController-Win64-Shipping.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Intermediate/Build/Win64/RoboRecall/Shipping/RoboRecall-SteamVRController-Win64-Shipping.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/Binaries/Win64/RoboRecall-Win64-Shipping.modules",
			"Type" : "RequiredResource"
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(ProjectDir)/RoboRecall.uproject",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/FortniteWeapons/FortniteWeapons.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/OdinEditor/OdinEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/Paragon_Kallari/Paragon_Kallari.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/RoboRevive/RoboRevive.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/UnrealTournament/UnrealTournament.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/2D/Paper2D/Paper2D.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/LightPropagationVolume.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/FacialAnimation/FacialAnimation.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/EpicGameAnalytics/EpicGameAnalytics.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/CharacterAI.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/HTML5Networking/HTML5Networking.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AndroidMedia/AndroidMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AvfMedia/AvfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/WmfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/TcpMessaging/TcpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/UdpMessaging/UdpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystem/OnlineSubsystem.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemNull/OnlineSubsystemNull.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemOculus/OnlineSubsystemOculus.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemUtils/OnlineSubsystemUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/ArchVisCharacter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/CableComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/CustomMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ExampleDeviceProfileSelector/ExampleDeviceProfileSelector.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/LocationServicesBPLibrary/LocationServicesBPLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/MobilePatchingUtils/MobilePatchingUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusAudio/OculusAudio.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusInput/OculusInput.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusLibrary/OculusLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusRift/OculusRift.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/PhysXVehicles/PhysXVehicles.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/ProceduralMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/WindowsMoviePlayer/WindowsMoviePlayer.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/OpenVR/OpenVRv1_0_2/Win64/openvr_api.dll",
			"Type" : "NonUFS"
		}
	]
}